body{
     font-family: "Karla", sans-serif;
    box-sizing: border-box;
    background-image: url(../dist/about-images/right.png);
    background-repeat: no-repeat;
    background-position: 107% 105%;
    background-size: inherit;
    font-family: 'Raleway', sans-serif;
    a{
        text-decoration: none;
    }
    button{
        outline: none;
        border: none;
    }
}
.header{
    ul{
        li{
            font-family: 'Karla', sans-serif;
        }
    }
}
.header-temp{
    font-family: 'Karla', sans-serif;
}
/* DETAİLS SECTİON */
.slider-details {
    background-image: url('../dist/newDetails-images/details.png');
    height: 310px;
    margin-bottom: 100px;

    .details-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 124px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;

        h1 {
            font-size: 48px;
            color: #F1A072;
            font-weight: bolder;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            color: #F1A072;
        }
    }
}

/* DETAİLS SECTİON */
/* PAGE-YEARS SECTİON */
.years{
    background-color: #E5EEF0;
.page-years {
    border-top: solid 1px #DEE8EA;
    margin-bottom: 81px;
    font-family: 'Karla', sans-serif;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .years {
        display: flex;
        align-items: center;

        img {
            padding-right: 45px;
        }

        h6 {
            font-size: 60px;
            color: #23282f;
            margin-bottom: 3px;
            font-weight: 500;
        }

        p {
            font-size: 14px;
            color: #23282f;
            text-transform: uppercase;
        }
    }
}
}

/* PAGE-YEARS SECTİON */
/* FREE-SERVİCE SECTİON */
.free-service {
    padding-left: 0;
    font-family: 'Raleway', sans-serif;
    border-bottom: solid 1px #ddd;
    padding-bottom: 100px;

    .service-text {
        text-align: center;
        padding-top: 97px;
        margin-bottom: 33px;

        h1 {
            font-size: 30px;
            color: #23282f;
            margin-bottom: 5px;
        }

        span {
            color: #f69b37;
        }

        p {
            font-size: 13px;
            color: #59686c;
            text-transform: uppercase;
        }
    }

    .button {
        text-align: center;

        button {
            width: 143px;
            height: 40px;
            background-color: #29C2E1;
            border-radius: 30px;
            letter-spacing: 1px;
            font-size: 14px;
            color: #fff;
            margin-right: 19px;
            outline: none;

            &:hover {
                background-color: #F69B37;
            }
        }
    }
}

/* FREE-SERVİCE SECTİON */
/* FOOTER SECTİON */
.footer {
    padding-top: 13px;
    background-image: url("../dist/about-images/left.png");
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Karla', sans-serif;
}

.footer .footer-links {
    text-align: center;
}

.footer .footer-links.links h1 {
    margin-bottom: 30px;
}

.footer .footer-links h1 {
    margin-bottom: 30px;
}

.footer .footer-links.link {
    padding-top: 65px;
}

.footer .footer-links h1 {
    font-size: 18px;
}

.footer .footer-links ul li {
    font-size: 12px;
    color: #93a1a7;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.footer .footer-links ul span {
    color: #3e4146;
}

.footer .input {
    font-family: "Roboto Slab", serif;
}

.footer .input h6 {
    width: 44px;
    height: 44px;
    background: #29C2E1;
    padding: 11px 12px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.input {
    align-items: center;
}

.footer .input input {
    width: 220px;
    height: 44px;
    border: solid 1px #DDE8EA;
    color: #93a1a7;
    letter-spacing: 1px;
    text-indent: 20px;
    outline: none;
}

.input{
   input{
    &::placeholder{
        font-size: 12px;
        font-family: 'Karla', sans-serif;
    }
   }
}

.footer i {
    color: #ADBDC1;
    margin-right: 10px;
    padding-top: 8px;
}

.footer p {
    font-size: 14px;
    color: #93a1a7;
    letter-spacing: 1px;
}

.footer .about {
    margin-bottom: 82px;
    display: flex;
    align-items: center;
    padding-top: 71px;
}

.news {
    text-align: left;
}

.back h1#ltd {
    text-align: center;
    border-top: solid 1px #ddd;
    padding-top: 23px;
    font-size: 14px;
    text-transform: uppercase;
    color: #93a1a7;
}

.footer-links.img {
    padding: 15px 40px 0 0;
}

.footer-links ul li:hover {
    color: #F7941D;
    cursor: pointer;
}

form {
    display: flex;
}

.input {
    button {
        outline: none;
        border: none;
    }

    button[type=submit] {
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* FOOTER SECTİON */


/* RESPONSIVE MENU */
.responsive{
    display: none;
}

@media (max-width: 768px) {
    .header{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .header-up{
        background-color: transparent;
        height: 0;
    }
    .header-temp{
        display: none;
    }
    .responsive{
        display: block;
    }
    .fa-bars{
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 12px;
        border-radius: 50%;
        background-color: #F7941D;
        cursor: pointer;
    }
    .wrapper{
        margin: 0 auto;
        .button{
            float: none;
        }
    }
    .responsive {
        .overlay {
            ul {
                margin: 0;
                padding: 0;
                position: relative;
                top: 27%;
                flex-direction: column;
            }
        }
    }
}



/* RESPONSIVE MENU */